
header{
    color: rgb(160, 0, 0);
    display: flex;
    align-items: end;
    width: 100vh;
}
body{ 
    background-color: aqua;
    /*background-image: url(../IMG/PLANTILLA\ 1.jpeg);
    background-repeat: no-repeat;/*cambia el color de fondo del body*/
    max-width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}
.nav{
    border: 2px solid red;
    display: flex;
   
}
.navbar{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.navbarlogo{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.navbarItems{
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    align-items: end;

}
i{
    font-size: 2rem;
    cursor: pointer;
}
.navbarlist{
    display: flex;
    flex-direction:row;
    border: 2px solid grey;
    text-decoration: none;
    list-style: none;
    justify-content:flex-end;
    align-items: center;
    padding: 10px;
    gap: 10px;px;
}
    */
h1{
    color: rgb(29, 118, 96);
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.h2conocenos{
    color: rgb(96, 28, 151);
    text-align: center;
}
.div{
    display: flex;
    align-items: center;
}
.Cuerpo{
    border: 1px solid blue;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
p{
    color: rgb(54, 29, 118);
    font-family: sans-serif;
}
div{
    border: 2px solid rgb(34, 25, 25);
    display: flex;
    flex-direction: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 8px;
    
    color: rgb(118, 29, 29);
}*/


    display: flex;
    
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-width: 1000%;
    margin:0 auto;
.titulo2{
    border: 2px solid green;
    padding: 15px;

}
.parrafointro{
    border: 2px solid grey;
    padding: 12px;
}
form{
    color: rgb(31, 118, 29);
    text-align: center;
    font-size:20px;
}
/*galeria*/
.QUIENES-SOMOS{
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-width: 1000%;
    margin:0 auto;
}
/*imagenesgaleria*/ 
.imagenescs{
    border:2px solid lightblue;
    padding: 8px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
}

.card {
    border: 2px solid lightblue;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    flex-wrap: wrap;
}
.card img{
    width: 100%;
    border-radius: 8px;
}
.estilosimg {  
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.prueba{ 
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-width: 1000%;
    margin:0 auto;

}
.ancho{
    width: 25%;
}
.estiloletras{
    border: 5px solid blue;
    padding: 5%;
    margin: 5%;
    background-image: url(../IMG/DESCARGA2.avif);
    background-repeat:repeat;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: letf;
}
.estilofooter{
    background-color: #b9e7f4;
    color: white;
    text-align: center;
    margin-top: auto;
}


@media (max-width: 768px) {
    .navbarlist {
        display: flex;
        gap:12px;
        padding: 8px;
    }
}